<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

 <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
 <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
 <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 <uses-permission android:name="android.permission.RECEIVE_LOCKED_BOOT_COMPLETED" />
	
    <application
        android:label="ProtectedWorkProfile"
		android:icon="@drawable/ic_launcher"
		android:allowBackup="false"
		android:debuggable="false"
		android:requestLegacyExternalStorage="false"
        android:fullBackupContent="false"
		android:extractNativeLibs="false"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
		
	<receiver android:name=".NucleusReceiver" 
	android:exported="true"
	android:label="Receiver"
	android:enabled="true"
	android:directBootAware="true">
     <intent-filter android:priority="999">
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
     </intent-filter>
	<intent-filter android:priority="999">
        <action android:name="android.intent.action.MANAGED_PROFILE_UNLOCKED" />
     </intent-filter>
    </receiver>

		<activity android:name=".MediaPlayerActivity"
            android:exported="false"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"
			android:label="PlayMedia"
		    android:excludeFromRecents="true">
        </activity>


		<activity android:name=".AdditionalOptionsActivity"
            android:exported="false"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"	
			android:label="SecuritySettings"
		    android:excludeFromRecents="true">        
        </activity>

		<activity android:name=".SecurityActivity"
            android:exported="false"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:windowSoftInputMode="stateAlwaysVisible" 
			android:directBootAware="true"
			android:showWhenLocked="true"
		    android:screenOrientation="portrait"
		    android:excludeFromRecents="true">
        </activity>

		<activity android:name=".ActionsActivity"
            android:exported="false"
			android:label="Actions"
			android:screenOrientation="portrait"
			android:directBootAware="true"
			android:showWhenLocked="true"			
			android:enabled="true"
			android:launchMode="singleInstance"
		    android:excludeFromRecents="true">
        </activity>

		<activity android:name=".SetPasswordActivity"
            android:exported="false"
			android:screenOrientation="portrait"
			android:launchMode="singleInstance"
			android:label="SetPassword"
		    android:excludeFromRecents="true">
        </activity>

		<activity android:name=".DestroyActivity"
            android:exported="false"
			android:directBootAware="true"
			android:showWhenLocked="true"			
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"
			android:label="⁢WipeData🔥"
			android:excludeFromRecents="true">
        </activity>
		
		<activity android:name=".StartAppsActivity"
            android:exported="false"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"
			android:label="StartApps"
		    android:excludeFromRecents="true">
        </activity>
		
       <activity android:name=".MainActivity"
            android:exported="true"
			android:directBootAware="true"
			android:showWhenLocked="true"
		    android:label="​⁢ProtectedWorkProfile"
		    android:screenOrientation="portrait"
		    android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".ZeroActivity"
            android:exported="false"
			android:directBootAware="true"
		    android:screenOrientation="portrait"
		    android:excludeFromRecents="true">
        </activity>
		

		<activity android:name=".SelectActivity"
            android:exported="false"
			android:label="SelectKeyboard"
			android:enabled="true"
			android:screenOrientation="portrait"
			android:launchMode="singleInstance"
		    android:excludeFromRecents="true">
        </activity>

		<activity android:name=".DisableActivity"
            android:exported="false"
			android:label="DisableApps"
			android:screenOrientation="portrait"
			android:enabled="true"
			android:launchMode="singleInstance"
		    android:excludeFromRecents="true">
        </activity>
		

			<service
    android:name=".WatcherService"
	android:directBootAware="true"
    android:foregroundServiceType="systemExempted" 
    android:exported="true">
    </service>
		
        <receiver android:name=".MyDeviceAdminReceiver"
            android:label="Admin"
			android:directBootAware="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data android:name="android.app.device_admin" 
			android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
				<action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
				<action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
